vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|10 Apr 2014 02:42:40 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|mel_anim.htm Movie6.html judyspage.htm page2.htm amazoncheck.htm page3.htm brownie.htm carrotck.htm main.htm polacco.htm margospage.htm cdmbrownies.htm johnspage.htm birthdays.htm glendening.htm mel_pad.htm Movie7.html Movie8.html birthdaysmjj.htm amazon.htm white_wine_cake.htm index.htm mel_jatormia.htm kitchen/pix.htm index.c.2007.html vacationpad.htm
vti_author:SR|WIN8X64VM1-JOHN\\jfjjfj
vti_modifiedby:SR|WIN8X64VM1-JOHN\\jfjjfj
vti_timecreated:TR|09 Apr 2014 17:17:47 -0000
vti_nexttolasttimemodified:TW|10 Apr 2014 02:12:30 -0000
vti_cacheddtm:TX|10 Apr 2014 02:42:40 -0000
vti_filesize:IR|1973
vti_cachedlinkinfo:VX|S|../starbg.jpg S|../paper_b00220140110.gif
vti_cachedsvcrellinks:VX|FSUS|starbg.jpg FSUS|paper_b00220140110.gif
vti_syncofs_upload.comcast.net\:21/%2f:TW|13 Apr 2014 14:08:00 -0000
vti_syncwith_upload.comcast.net\:21/%2f:TX|10 Apr 2014 02:42:40 -0000
